.mainButton {
  display: inline-block;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background-color: var(--medium-blue);
  color: var(--white);
  border: 3px solid var(--medium-blue);
  cursor: pointer;
  transition: 0.2s;
}

.mainButton:hover {
  border: 3px solid var(--dark-blue);
}