.banner {
  padding: 3rem 7.5rem 6.25rem;
  background-color: var(--dark-blue);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-family: var(--secondary-font);
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.images {
  position: relative;
  height: 406px;
}

.images > .photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22vw;
  border-radius: 50%;
}

.images > .colorful-circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25vw;
}

@media (max-width: 1100px) {
  .banner {
    padding: 3.5rem 1.5rem;
  }

  .title {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .paragraph {
    margin-bottom: 1.5rem;
  }

  .images {
    height: 338px;
  }

  .images > .my-photo {
    width: 25vw;
  }

  .images > .colorful-circle {
    right: 10vw;
    width: 35vw;
  }
}

@media (max-width: 744px) {
  .banner {
    padding: 2rem 1rem;
    display: block;
  }

  .title {
    margin-bottom: 2rem;
  }

  .paragraph {
    margin-bottom: 2rem;
  }

  .images {
    height: 307px;
  }

  .images > .my-photo,
  .images > .colorful-circle {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .images > .my-photo {
    width: 170px;
    transform: translate(5rem, 0px);
  }

  .images > .colorful-circle {
    width: 240px;
    transform: translate(-1.5rem, 0px);
  }
}
